* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* position: sticky; */
    background-color: rgb(14, 10, 11);
    padding: 2rem;
    background: linear-gradient(to right, transparent, #fff, transparent);
    border: linear-gradient(to right, transparent, #fff, transparent);
    /* position: -webkit-sticky; */
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: rgb(11, 10, 14);
    padding-bottom: 1rem;
    padding-top: .5rem;
    display: flex;
    justify-content: center;
}

.redesSociales a {
    margin: 1rem;

}

.InstrumentIcon a {
    margin-right: .5rem;
}

.InstrumentIcon :first-child {
    margin-right: .5rem;
}