@import url("styleHeaderFooter.css");
body{
    overflow: hidden
}
.main{
    height: 83.8vh;

}
.description{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    text-align: center;
}
img{
    width: 70%;
}
article{
    /* display: flex;
    text-align: center;
    justify-content: center; */
    margin-left: 1rem;
    border: 1px solid red;
}
@media (max-width: 800px){
    .description{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: .8rem;
}
body{
    overflow:auto
}
img{
    width: 100%;
}
.description p{
    margin-bottom: 3rem;
}
.description :first-child{
    margin-top: 1rem;
}
    footer{
        position: fixed;
        width: 100%;

    }
    #cesar{
        margin-bottom: 5rem;
    }
    header{
        /* position: fixed; */
    }
}