@import url("styleHeaderFooter.css");

* {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 1px black;
}

button {
  margin-top: 4rem;
  padding: 3rem;
  text-align: center;
}

img {
  margin: auto;
  max-width: 100%;
  height: auto;
}

#description {
  background-image: url("./img/fondohome.jpg");
  background-repeat: no-repeat;
}

body {
  background-color: red;
}

.menuNav {
  position: fixed;
}

.container {
  height: 100vh;
}

#piano {
  background-color: blueviolet;
}

#guitarra {
  background-color: green;
}

.container {
  display: flex;
  flex-direction: row;

}

.textos {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  height: 150px;
}


@media (max-width: 800px) {
  body {
    background-color: red;
  }

  #description {
    background-image: url("../img/fondohome.jpg");
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    background-size: 100%;
    text-align: center;

  }

  .container {
    display: grid;
    grid-template-columns: 1fr
  }



}