
@import url("styleHeaderFooter.css");
  

  section{
    width: 100%;
    display: grid;
    justify-content: center;
    /* height: 100vh; */
    /* flex-direction: column; */
   /* grid-template-columns: 1fr 1fr;
    margin-top: 4em;  */
    /* margin: 1rem; */
  
  }
  
  .btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 1px black;
 

  }

  button{
    margin-top: 4rem;
    padding: 3rem;
    text-align: center;
  }
  
  img{
    margin: auto;
    max-width: 80%;
    height: auto;
  }
  #description{
    background-image:url("../img/escenario.avif");
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    background-size: 100%;
    text-align: center;

}
body{
  background-color: blue;
  /* overflow: hidden */
}
.menuNav{
  position: fixed;
}
.container{
  height: 60vh;
}
#piano{
  background-color: blueviolet;
}
#guitarra{
  background-color: green;
}

.container{
  display: flex;
  flex-direction: row;
  

}
.mainInstrumento{

}

@media (max-width: 800px){
  body{
    background-color: red;
  }
  #description{
    background-image:url("../img/escenario.avif");
    background-repeat: repeat;
    display: flex;
    justify-content:center;
    background-size: 100%;
    text-align: center;

  }
  .container{
    display: grid;
    grid-template-columns: 1fr
  }
  
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  #bateria{
    padding-bottom: 4.5rem;
  }
}